<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <my-component :pr="count" @selfclick="handleChildClick"></my-component>
    {{other}}
  </div>
  <script src="../../dist/vue.js"></script>
  <script src="./index.js"></script>
  <script>
    var app = new Vue({
      mixins:[mixinsObj],
      el: "#app",
      data() {
        return {
          count: 0,
        }
      },
      methods: {
        handleChildClick() {
          console.log('父组件接收')
          this.count++
        }
      },
      watch: {
        count: {
          handler:function(val,oldval) {
            console.log('组件自己watch')
          }
        }
      },
      computed:{
        other(){
          console.log('组件自己other')
          return this.count+2
        }
      },
      created () {
        console.log('组件created')
      },
      beforeMount() {
        console.log('app beforeMount')
      },
      mounted() {
        console.log('app mounted')
      },
      components: {
        'my-component': {
          props:["pr"],
          template: `<div>
            我是组件{{pr}}
            <button @click="handleChildClick">子组件button{{pr}}</button>
            </div>`,
          beforeMount() {
            console.log('组件1 beforeMount')
          },
          methods: {
            handleChildClick(){
              console.log('子组件click')
              this.$emit('selfclick')
            }
          },
          mounted() {
            console.log('组件1 mounted')
          },
        }
      }
    })

  </script>
</body>
</html>
